@import "tailwindcss";


html {
  scroll-behavior: smooth;
  overflow-x:hidden;
}

body {
  background: #222;
  color: white;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #00e5ff;
  border-radius: 20px;
}
